GEMINI_API_KEY=AIzaSyDo7nHkA9NQQ5IoGrX0dnb7bsfZElxEKpc


# Cloudinary Configuration (for video cloud storage)
CLOUDINARY_CLOUD_NAME=deaydz4ky
CLOUDINARY_API_KEY=857451563331674
CLOUDINARY_API_SECRET=xn-oRvLbHQFIg82veJByXDKnzKE